/* CSS RESET */

* {
    margin: 0;
    padding: 0;
}

/* UNIVERSAL STYLES */

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

/* HEADER */

.header--main {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.link--cta {
    color: aquamarine;
}
