/* UNIVERSAL STYLES */

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

/* HEADINGS */

.header--main {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.header--secondary {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.header--sub-header {
    color: gray;
    font-size: 21px;
}


/* LINKS */

.link--cta {
    color: aquamarine;
}
